<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/cs461-hw3-datamining/code/classification/NaiveBayes.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="classification.NaiveBayes"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="data/mushroom_train data/mushroom_test true"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="cs461-hw3-datamining"/>
</launchConfiguration>
